<div class="flex-center">
    <div class="limite flex-center">
        <div class="card-unico flex-center flex-warp">
            <div class="card-img-unico">
                <img src="{{produtos.imagem}}" alt="2323">
            </div>
            <div class="card-unico-caixa">
                <h2>{{produtos.titulo}}</h2>
                <div class="flex-between"></div>
                    <div class="preco-produto-unico">
                        <p>R$ {{produtos.preco}}</p>
                        <span class="preco-produto-avista-unico">em 1x no cartão ou boleto</span>
                    </div>
                    <div class="btns-unico">
                        <button class="comprar-btn-unico">Comprar</button>
                        <button class="car-btn-unico">Adicionar ao carrinho</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>