<footer>
    <div class="flex-center footer-desk">
        <div class="limite">
            <div class="links-footer flex-between">
                <ul>
                    <li><h4>Atendimento</h4></li>
                    <li><a href="#">Minha conta</a></li>
                    <li><a href="#">Meus pedidos</a></li>
                    <li><a href="#">Encontre uma loja</a></li>
                    <li><a href="#">Central de Atendimento</a></li>
                    <li><a href="#">Cartão Carrefour</a></li>
                    <li><a href="#">Perguntas frequentes</a></li>
                    <li><a href="#">Denunciar Produtos Martketplace</a></li>
                    <li><a href="#">Consumidor.gov</a></li>
                </ul>
                <ul>
                    <li><h4>Serviços</h4></li>
                    <li><a href="#">Minhas listas</a></li>
                    <li><a href="#">Garantia Estendida</a></li>
                    <li><a href="#">Marketplace</a></li>
                    <li><a href="#">Venda no Marketplace</a></li>
                    <li><a href="#">Apoio ao seller</a></li>
                    <li><a href="#">Institucional</a></li>
                    <li><a href="#">Perguntas frequentes</a></li>
                </ul>
                <ul>
                    <li><h4>Institucional</h4></li>
                    <li><a href="#">Grupo Carrefour</a></li>
                    <li><a href="#">Trabalhe conosco</a></li>
                    <li><a href="#">CyberCook</a></li>
                    <li><a href="#">Blog Dica Amiga</a></li>
                    <li><a href="#">Mapa de Produtos</a></li>
                    <li><a href="#">Mapa do Site</a></li>
                    <li><a href="#">Sabor & Qualidade</a></li>
                    <li><a href="#">Black Friday</a></li>
                    <li><a href="#">Afroempreendedores</a></li>
                </ul>
                <ul>
                    <li><h4>Políticas Carrefour</h4></li>
                    <li><a href="#">Política de entregas</a></li>
                    <li><a href="#">Política de Trocas e Devoluções</a></li>
                    <li><a href="#">Política de Cancelamento e Ressarcimento</a></li>
                    <li><a href="#">Políticas Click & Retire Não Alimentar</a></li>
                    <li><a href="#">Política de Produtos Proibidos E-Commerce Carrefour</a></li>
                    <li><a href="#">Política de instalação de pneus</a></li>
                    <li><a href="#">Central de Privacidade</a></li>
                    <li><a href="#">Políticas de Privacidade</a></li>
                    <li><a href="#">Política de Uso e de Repressão e Prevenção à Venda de Produtos Ilegais</a></li>
                </ul>
                <div id="televendas" class="canto-footer">
                    <h4>Compre pelo telefone</h4>
                    <div class="botao-tel-footer">
                        <p>Para regiões metropolitanas:</p>
                        <button>3004-2222</button>
                    </div>
                    <div class="botao-tel-footer">
                        <p>Para demais regiões:</p>
                        <button>0800-718-2222</button>
                    </div>
                    <div class="canto-footer-horario">
                        <p>Horário de atendimento:</p>
                        <p><span class="negrito">De segunda a domingo, das 08h às 21h</span> </p>
                        <p>*Horário de Brasília</p>
                    </div>

                    
                </div>
            </div>
        </div>            
    </div>

    <div class="flex-center footer-resp">
        <div class="limite">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Atendimento
                    </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse links-footer" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <ul>
                            <li><a href="#">Minha conta</a></li>
                            <li><a href="#">Meus pedidos</a></li>
                            <li><a href="#">Encontre uma loja</a></li>
                            <li><a href="#">Central de Atendimento</a></li>
                            <li><a href="#">Cartão Carrefour</a></li>
                            <li><a href="#">Perguntas frequentes</a></li>
                            <li><a href="#">Denunciar Produtos Martketplace</a></li>
                            <li><a href="#">Consumidor.gov</a></li>
                        </ul>
                    </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        Serviços
                    </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse links-footer" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <ul>
                            <li><a href="#">Minhas listas</a></li>
                            <li><a href="#">Garantia Estendida</a></li>
                            <li><a href="#">Marketplace</a></li>
                            <li><a href="#">Venda no Marketplace</a></li>
                            <li><a href="#">Apoio ao seller</a></li>
                            <li><a href="#">Institucional</a></li>
                            <li><a href="#">Perguntas frequentes</a></li>
                        </ul>
                    </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        Políticas Carrefour
                    </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse links-footer" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <ul>
                            <li><a href="#">Política de entregas</a></li>
                            <li><a href="#">Política de Trocas e Devoluções</a></li>
                            <li><a href="#">Política de Cancelamento e Ressarcimento</a></li>
                            <li><a href="#">Políticas Click & Retire Não Alimentar</a></li>
                            <li><a href="#">Política de Produtos Proibidos E-Commerce Carrefour</a></li>
                            <li><a href="#">Política de instalação de pneus</a></li>
                            <li><a href="#">Central de Privacidade</a></li>
                            <li><a href="#">Políticas de Privacidade</a></li>
                            <li><a href="#">Política de Uso e de Repressão e Prevenção à Venda de Produtos Ilegais</a></li>
                        </ul>
                    </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                        Institucional
                    </button>
                    </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse links-footer" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <ul>
                            <li><a href="#">Grupo Carrefour</a></li>
                            <li><a href="#">Trabalhe conosco</a></li>
                            <li><a href="#">CyberCook</a></li>
                            <li><a href="#">Blog Dica Amiga</a></li>
                            <li><a href="#">Mapa de Produtos</a></li>
                            <li><a href="#">Mapa do Site</a></li>
                            <li><a href="#">Sabor & Qualidade</a></li>
                            <li><a href="#">Black Friday</a></li>
                            <li><a href="#">Afroempreendedores</a></li>
                        </ul>
                    </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                        Compre pelo telefone
                    </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse links-footer" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div id="televendas" class="canto-footer">
                            <div class="botao-tel-footer">
                                <p>Para regiões metropolitanas:</p>
                                <button>3004-2222</button>
                            </div>
                            <div class="botao-tel-footer">
                                <p>Para demais regiões:</p>
                                <button>0800-718-2222</button>
                            </div>
                            <div class="canto-footer-horario">
                                <p>Horário de atendimento:</p>
                                <p><span class="negrito">De segunda a domingo, das 08h às 21h</span> </p>
                                <p>*Horário de Brasília</p>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
        </div>
    </div>

    <hr size="1" width="100%">

    <div class="flex-center">
        <div class="limite flex-between flex-warp">
            <div>
                <h4>Formas de Pagamento:</h4>
                <div class="formas-pagamentos-footer flex-warp">
                    <img src="https://carrefourbr.vtexassets.com/arquivos/mastercard-footer.png" alt="">
                    <img src="https://carrefourbr.vtexassets.com/arquivos/visa-footer.png" alt="">
                    <img src="https://carrefourbr.vtexassets.com/arquivos/elo-footer.png" alt="">
                    <img src="https://carrefourbr.vtexassets.com/arquivos/hipercard-footer.png" alt="">
                    <img src="https://carrefourbr.vtexassets.com/arquivos/carrefour-card-footer.png" alt="">
                    <img src="https://carrefourbr.vtexassets.com/arquivos/diners-footer.png" alt="">
                    <img src="https://carrefourbr.vtexassets.com/arquivos/american-express-footer.png" alt="">
                    <img src="https://carrefourbr.vtexassets.com/arquivos/visa-checkout-footer.png" alt="">
                    <img src="https://carrefourbr.vtexassets.com/arquivos/footer-boleto.png" alt="">
                    <img src="https://carrefourbr.vtexassets.com/arquivos/gift-card-footer.png" alt="">
                    <img src="https://carrefourbr.vtexassets.com/arquivos/vale-troca-footer.PNG" alt="">
                    <img src="https://carrefourbr.vtexassets.com/arquivos/payment-pix-footer.png" alt="">
                </div>
                <div class="debito-footer flex-warp">
                    <p> Débito bancário</p>
                    <img src="https://carrefourbr.vtexassets.com/arquivos/itau-footer.png" alt="">
                    <img src="https://carrefourbr.vtexassets.com/arquivos/bradesco-footer.png" alt="">
                    <img src="https://carrefourbr.vtexassets.com/arquivos/santander-footer.png" alt="">
                    <img src="https://carrefourbr.vtexassets.com/assets/vtex.file-manager-graphql/images/f88c7164-9a79-4181-920d-c352790f4319___bfb4ea346a84bcb62ae2c99449bf2721.png" alt="">
                    <img src="https://carrefourbr.vtexassets.com/assets/vtex.file-manager-graphql/images/e56c20fa-a05c-4758-9591-bc9709df246e___f70cb05606f37f8ec1189fb90c774e57.png" alt="">
                    <img src="https://carrefourbr.vtexassets.com/assets/vtex.file-manager-graphql/images/0a46da6e-5a34-4bfa-a657-b693ac3bba74___494f5a3205999d155276efe4fd397ed5.png" alt="">
                    <img src="https://carrefourbr.vtexassets.com/assets/vtex.file-manager-graphql/images/8d610422-ab08-4d5d-9d05-8aa93e92b99b___5ed0bccf29ad5c376a1945e57079d143.png" alt="">
                </div>
            </div>
            <div class="redes-footer">
                <h4>Siga-nos nas redes sociais</h4>
                <div class="flex-between">
                    <img src="https://carrefourbr.vtexassets.com/arquivos/facebook-footer.png" alt="">
                    <img src="https://carrefourbr.vtexassets.com/arquivos/twitter-footer.png" alt="">
                    <img src="https://carrefourbr.vtexassets.com/arquivos/instagram-footer.png" alt="">
                    <img src="https://carrefourbr.vtexassets.com/arquivos/youtube-footer.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="footer-cinza flex-center">
        <div class="limite flex-between flex-warp">
            <div class="comercio-footer">
                <div>
                    <p><span class="negrito">Carrefour Comércio e Indústrias Ltda:</span></p>
                    <p>Via de Acesso Norte, Km 38, nº 420, Empresarial Gato Preto, Cajamar - SP | CEP 07789-100 | CNPJ: 45.543.915/0846-95</p>
                </div>
                <div>
                    <p><span class="negrito">Envio de documentos administrativos e jurídicos:</span></p>
                    <p>Rua George Eastman, nº 213 - Vila Tramontano, São Paulo, SP | CEP 05690-000</p>
                </div>
                <a href="#">atendimento@carrefour.com.br</a>
            </div>
            <div class="img-footer">
                <img class="img1-footer" src="https://carrefourbr.vtexassets.com/arquivos/ambiente-seguro-footer.png" alt="Ambiente Seguro">
                <img class="img2-footer" src="https://newimgebit-a.akamaihd.net/ebitBR/selo/img_10581.png" alt="Selo ebit">
            </div>
        </div>
    </div>
</footer>